## **Python - Programming Language**

Python is a versatile programming language developed by Guido van Rossum in 1991.

**Purpose:**
1. Web development
2. Software development
3. Mathematics
4. Scripting

**Why Python?**
1. Works on multiple platforms.
2. Allows writing code in fewer lines compared to other languages.
3. Utilizes an interpreter environment, facilitating rapid development and debugging.
4. Supports programming paradigms such as procedural, object-oriented, and functional programming.

**Python Syntax**

1. **English-like:** Python syntax closely resembles English, making it easy to read and write.
2. **No Semicolons or Parentheses:** Python code doesn't require semicolons to end statements or parentheses to group expressions.
3. **Indentation Only:** Proper indentation, rather than braces or keywords, defines the structure of code blocks.

### **Variables in Python**

Variables are containers used to store data values.

- In Python, there's no command to declare a variable.
- Simply assign a value, and the variable is declared.

In [1]:
a = 5
b = "John"

print(a)
print(b)

5
John

In [2]:
type(a)

int

In [3]:
print(type(b))

<class 'str'>

### **Casting in Python**

Casting is used to specify the data type of a variable.

- It allows converting a variable from one data type to another.
- Python provides built-in functions like `int()`, `float()`, `str()`, etc., for casting variables.

In [4]:
a = str(5)
b = int(3)
c = float(9)

In [5]:
print(a)
type(a)

5

str

In [6]:
print(b)
type(b)

3

int

In [7]:
print(c)
type(c)

9.0

float

### **Single and Double Quotes in Python**

In Python, both single ('') and double ("") quotes can be used to denote strings.

In [8]:
a = 'John'
b = "John"

print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

### **Case Sensitivity in Python**

Variable names in Python are case sensitive. Using uppercase and lowercase letters in variable names creates separate variables.

In [9]:
a = 4
A = 5

print(a)
print(A)

4
5

### **Variable Naming Rules in Python**

When naming variables in Python, adhere to the following rules:

1. Variable names should be descriptive, indicating their purpose or content.
2. Start variable names with a letter or underscore (_).
3. Variable names cannot start with a number.
4. Variable names can contain alphanumeric characters and underscores.
5. Variable names are case sensitive.
6. Avoid using reserved keywords (e.g., for, while, break, continue) as variable names.

**Right Variable Names:**
```python
myvar = "John"
my_var = "John"
_myvar = "John"
MYVAR = "John"
```

**Wrong Variable Names:**
```python
2myvar = "John"  # Starts with a number
my-var = 5       # Contains invalid character '-'
my var = 7       # Contains invalid character ' '
for = 5          # Reserved keyword 'for' used as a variable name
```

### **Data Types in Python**

- **Text:** str
- **Numeric:** int, float, complex
- **Sequence:** list, tuple, range
- **Mapping:** dict
- **Set:** set, frozenset
- **Boolean:** bool
- **None Type:** NoneType

In [10]:
a = "abc"
type(a)

str

In [11]:
a = 5
type(a)

int

In [12]:
a = 5.0
type(a)

float

In [13]:
a = 5+6j
type(a)

complex

### **List in Python**

- Lists are ordered collections of objects in Python.
- Lists can contain items of different data types.
- They are declared using square brackets `[]`.

In [14]:
s = [1,2,3,4,"john"]
type(s)

list

#### **Functions for Lists in Python**

- `len(s)`: Returns the number of elements in list `s`.
- `r.append("hello")`: Appends `"hello"` to the end of list `r`.
- `f = r.copy()`: Creates a shallow copy of list `r` and assigns it to variable `f`.
- `r.insert(2, 'abcd')`: Inserts `'abcd'` at index `2` in list `r`.
- `r.count(7)`: Returns the number of occurrences of `7` in list `r`.
- `r.pop(6)`: Removes and returns the element at index `6` from list `r`.
- `r.sort()`: Sorts the elements of list `r` in ascending order.
- `r.remove(1)`: Removes the first occurrence of `1` from list `r`.
- `r.clear()`: Removes all elements from list `r`.

In [15]:
len(s)

5

In [16]:
r = [6,7,True,2+3j,"Hello"]
type(r)

list

In [17]:
# Concatenation operation

s+r

[1, 2, 3, 4, 'john', 6, 7, True, (2+3j), 'Hello']

In [18]:
r+s

[6, 7, True, (2+3j), 'Hello', 1, 2, 3, 4, 'john']

In [19]:
s[2]

3

In [20]:
r[4]

'Hello'

In [21]:
(s+r)[8]

(2+3j)

#### Indexes in Lists for Slicing Operation:

- **Positive Indexing:** Starts from 0, refers to elements from the beginning.
  - Example: `r[2:6]` selects elements from index 2 to index 5.

- **Negative Indexing:** Starts from -1, refers to elements from the end.
  - Example: `r[-6:-2]` selects elements from the sixth to the second element from the end.

In [22]:
r = [6 , 7 , True , 2+3j , "Hello" , 1 , 2 , 3 , 4 , 5 , 6]
  # [0 , 1 ,  2   ,  3   ,    4    , 5 , 6 , 7 , 8 , 9 , 10] - positive index
  #[-11,-10, -9   , -8   ,   -7    ,-6 ,-5 ,-4 ,-3 ,-2 , -1] - negative index                    

r[0:3]

[6, 7, True]

In [23]:
r[0:-3]

[6, 7, True, (2+3j), 'Hello', 1, 2, 3]

In [24]:
r[7]

3

In [25]:
r[-4]

3

In [26]:
r[2:7:3]

[True, 1]

In [27]:
r.append("hello")
r

[6, 7, True, (2+3j), 'Hello', 1, 2, 3, 4, 5, 6, 'hello']

In [28]:
f = r.copy()
print(f)

[6, 7, True, (2+3j), 'Hello', 1, 2, 3, 4, 5, 6, 'hello']

In [29]:
f = r
print(f)

[6, 7, True, (2+3j), 'Hello', 1, 2, 3, 4, 5, 6, 'hello']

In [30]:
r.insert(2, 'abcd')
print(r)

[6, 7, 'abcd', True, (2+3j), 'Hello', 1, 2, 3, 4, 5, 6, 'hello']

In [31]:
r.count(7)

1

In [32]:
r.pop(6)
print(r)

[6, 7, 'abcd', True, (2+3j), 'Hello', 2, 3, 4, 5, 6, 'hello']

In [33]:
r = [5,7,3,2,1,1,1,5,5]
r.sort()
r

[1, 1, 1, 2, 3, 5, 5, 5, 7]

In [34]:
r.sort(reverse=True)
r

[7, 5, 5, 5, 3, 2, 1, 1, 1]

In [35]:
r.remove(1)
r

[7, 5, 5, 5, 3, 2, 1, 1]

In [36]:
r.clear()
r

[]

### **Tuples in Python**

- Tuples are ordered collections of items, similar to lists, but they are immutable.
- Once created, the order of elements in a tuple cannot be changed.
- Tuples are defined using parentheses `()`.

In [37]:
# Tuples - ordered collection of items as a list, but they are immutable (order can not be changed once created)
# define - ()

t = (1,2,3,4,5)
type(t)

tuple

#### **Functions for Tuples in Python**

1. **Length:** `len(tuple)` - Returns the number of items in the tuple.
2. **Indexing:** `tuple[index]` - Accesses the item at the specified index.
3. **Count:** `tuple.count(value)` - Returns the number of occurrences of the specified value in the tuple.
4. **Membership:** `value in tuple` - Checks if a value exists in the tuple.
5. **Concatenation:** `tuple1 + tuple2` - Concatenates two tuples to create a new tuple.

In [38]:
t = (6,7,True,2+3j,"Hello",1, 2, 3, 4, 5, 6)

In [39]:
t[0:5]

(6, 7, True, (2+3j), 'Hello')

### **Sets in Python**

- Sets are unordered collections of unique items.
- They are defined using curly braces `{}`.
- Sets do not allow duplicate elements.

In [40]:
s = {1,'a', 2.5, 3, 5, 7}
type(s)

set

#### **Functions for Sets in Python**

1. **Length:** `len(set)` - Returns the number of elements in the set.
2. **Membership:** `value in set` - Checks if a value exists in the set.
3. **Add:** `set.add(value)` - Adds a single element to the set.
4. **Remove:** `set.remove(value)` - Removes a specified element from the set.
5. **Discard:** `set.discard(value)` - Removes a specified element from the set if it is present.
6. **Pop:** `set.pop()` - Removes and returns an arbitrary element from the set.
7. **Clear:** `set.clear()` - Removes all elements from the set.
8. **Union:** `set1.union(set2)` or `set1 | set2` - Returns a new set containing all unique elements from both sets.
9. **Intersection:** `set1.intersection(set2)` or `set1 & set2` - Returns a new set containing common elements from both sets.
10. **Difference:** `set1.difference(set2)` or `set1 - set2` - Returns a new set containing elements present in set1 but not in set2.

In [41]:
t = {10,11,12}

In [42]:
s.update(t)
s

{1, 10, 11, 12, 2.5, 3, 5, 7, 'a'}

In [43]:
t.update(s)
t

{1, 10, 11, 12, 2.5, 3, 5, 7, 'a'}

In [44]:
len(t)

9

In [45]:
s

{1, 10, 11, 12, 2.5, 3, 5, 7, 'a'}

In [46]:
s.discard(11)
s

{1, 10, 12, 2.5, 3, 5, 7, 'a'}

In [47]:
s | t

{1, 10, 11, 12, 2.5, 3, 5, 7, 'a'}

In [48]:
s & t

{1, 10, 12, 2.5, 3, 5, 7, 'a'}

In [49]:
s - t

set()

In [50]:
t - s

{11}

### **Dictionaries in Python**

- Dictionaries are collections of key-value pairs.
- They are defined using curly braces `{}`.
- Dictionaries are unordered, meaning the order of elements is not guaranteed.

In [51]:
d = {'Fruit':"Apple" , "Sport":"Cricket" , "Game":"Ludo"}
type(d)

dict

#### **Functions for Dictionary in Python**

1. **Length:** `len(dictionary)` - Returns the number of key-value pairs in the dictionary.
2. **Accessing Value:** `dictionary[key]` - Accesses the value associated with the specified key.
3. **Adding or Modifying Value:** `dictionary[key] = value` - Adds a new key-value pair or modifies the value of an existing key.
4. **Removing Key-Value Pair:** `del dictionary[key]` - Removes the key-value pair with the specified key.
5. **Keys:** `dictionary.keys()` - Returns a view object containing the keys of the dictionary.
6. **Values:** `dictionary.values()` - Returns a view object containing the values of the dictionary.
7. **Items:** `dictionary.items()` - Returns a view object containing the key-value pairs of the dictionary.
8. **Clear:** `dictionary.clear()` - Removes all key-value pairs from the dictionary.
9. **Copy:** `dictionary.copy()` - Returns a shallow copy of the dictionary.

In [52]:
d.keys()

dict_keys(['Fruit', 'Sport', 'Game'])

In [53]:
d.values()

dict_values(['Apple', 'Cricket', 'Ludo'])

In [54]:
d.items()

dict_items([('Fruit', 'Apple'), ('Sport', 'Cricket'), ('Game', 'Ludo')])

In [55]:
d = {'Fruit':["Apple", "Banana", "Lichi"] , "Sport":"Cricket" , "Game":"Ludo"}

In [56]:
d

{'Fruit': ['Apple', 'Banana', 'Lichi'], 'Sport': 'Cricket', 'Game': 'Ludo'}

In [57]:
d["Fruit"]

['Apple', 'Banana', 'Lichi']

In [58]:
len(d)

3