# Conditional Statements

In [1]:
x=3
if x<10:
    print('x is small')

x is small

In [2]:
x=30
if x<10:
    print('x is small')
print('completed')

completed

In [3]:
x=3
if x<10:
    print('x is small')
    print('completed')

x is small
completed

In [4]:
x=30
if x<10:
print('x is small')
print('completed')

IndentationError: expected an indented block (<ipython-input-4-f66da8cbe912>, line 3)

In [5]:
age=18
if age<18:
    print('You cant vote')
else:
    print("You can vote")

You can vote

In [6]:
age=10
if age<18:
    print('You cant vote')
else:
    print("You can vote")

You cant vote

In [7]:
gender="male"
if gender=="male":
    print('You are a male')
elif gender=="female":
    print('You are a female')
else:
    print('Others')

You are a male

In [8]:
gender="m"
if gender=="male":
    print('You are a male')
elif gender=="female":
    print('You are a female')
else:
    print('Others')
print("done")

Others
done

In [9]:
gender=input("Enter gender ")
if gender=="male":
    print('You are a male')
elif gender=="female":
    print('You are a female')
else:
    print('Others')

Enter gender male
You are a male

In [10]:
print(gender)

male

In [11]:
#It acts as string

a=input("enter value of a ")

enter value of a abcde

In [12]:
#It acts as int data type

a=int(input("enter value of a "))

enter value of a 1234

In [13]:
#It acts as float data type

marks = float(input("Enter your marks: "))

Enter your marks: 99.5





# For Loop

In [14]:
city=['hyderabad','warangal']
for x in city:
    print('city', x)

city hyderabad
city warangal

In [15]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [17]:
for i in range(1,10,3):
    print(i)

1
4
7

In [18]:
l=[range(5)]
print(l)

[range(0, 5)]

In [19]:
for i in range(0,100,5):
    print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

# While Loop

In [20]:
x=3
while x<10 :
    print(x)
    x=x+1

3
4
5
6
7
8
9

In [ ]:
# It is an infinite loop

x=3
while True:
    print(x)

In [21]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [22]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [23]:
x=[1,2,3,4,5]
for i in x:
    y=i*i
    print(i,'*',i,'=',y)

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25

# Functions
A function is a block of code which only runs when it is called.
You can pass data, known as parameters, into a function.
A function can return data as a result.

In Python a function is defined using the def keyword

In [24]:
def add(a,b):
    sum=a+b
    return sum

In [25]:
a=10
b=20
c=add(a,b)
print(c)

30

In [26]:
#Recursion

def fact(n):
    if n==0 or n==1:
        return 1
    else:
        return n*fact(n-1)

In [27]:
a=int(input("enter number "))
f=fact(a)
print(f)

enter number 5
120